# Structure and available options
# module "repo_1" {
#   source = "../../modules/github/repos"
#
#   name                   = "repo_1"
#   description            = "Description of the repo"
#   homepage_url           = ""
#   private                = "true|false"
#   hasIssues              = "true|false"
#   HasProjects            = "true|false"
#   hasWiki                = "true|false"
#   allow_merge_commit     = "true|false"
#   allow_squash_merge     = "true|false"
#   allow_rebase_merge     = "true|false"
#   hasDownload            = "true|false"
#   delete_branch_on_merge = "true|false"
#   default_branch         = "master"
#   archived               = "true|false"
#   topics                 = ["list" "of" "tags"]
# }

{{ range .}}
module "github_repo_{{.TerraformName}}" {
  source = "../../modules/repos"

  name               = "{{.GetName}}"
  {{- if .GetDescription }}
  description        = "{{.GetDescription}}"
  {{- end }}
  {{- if .GetHomepage }}
  homepage_url       = "{{.GetHomepage}}"
  {{- end}}
  {{- if eq .GetPrivate false }}
  private            = {{.GetPrivate}}
  {{- end }}
  {{- if eq .GetHasIssues false }}
  hasIssues          = {{.GetHasIssues}}
  {{- end }}
  {{- if eq .GetHasProjects true }}
  has_projects       = {{.GetHasProjects}}
  {{- end }}
  {{- if eq .GetHasWiki false }}
  hasWiki            = {{.GetHasWiki}}
  {{- end }}
  {{- if eq .GetAllowMergeCommit false }}
  allow_merge_commit = {{.GetAllowMergeCommit}}
  {{- end }}
  {{- if eq .GetAllowSquashMerge false }}
  allow_squash_merge = {{.GetAllowSquashMerge}}
  {{- end }}
  {{- if eq .GetAllowRebaseMerge false }}
  allow_rebase_merge = {{.GetAllowRebaseMerge}}
  {{- end }}
  {{- if eq .GetHasDownloads false }}
  hasDownloads       = {{.GetHasDownloads}}
  {{- end }}
  {{- if eq .GetDeleteBranchOnMerge false }}
  delete_branch_on_merge = {{.GetDeleteBranchOnMerge}}
  {{- end }}
  {{- if ne .GetDefaultBranch "master" }}
  default_branch     = "{{.GetDefaultBranch}}"
  {{- end }}
  {{- if eq .GetArchived true }}
  archived           = {{.GetArchived}}
  {{- end }}
  {{- if .Topics }}
  topics             = {{.TopicsString}}
  {{- end}}
}
{{ end }}
