# Structure and available options
# module "github_user_SomeUser" {
#   source = "../../modules/github/users"
#
#   login = "SomeUser"
#   role  = "member"
# }

{{ range .}}
module "github_user_{{.TerraformName}}" {
  source = "../../modules/users"

  login  = "{{ .GetLogin }}"
  role   = "{{ .Role }}"
}
{{ end }}
